<!-----------------------------------------------------------
 - Copyright (c) 2015 CyberGIS Center for Advanced Digital  -
 - and Spatial Studies (CyberGIS). All Rights Reserved      -
 ------------------------------------------------------------>
<!--
 home/home.html: HTML file to define templates and logic for the home page
 Author: Garrett Nickel <gmnicke2@illinois.edu>
 Date: 08/20/2015
 -->

<template name="Home">
    <style>
        body {
            background: url('https://cdn.elegantthemes.com/blog/wp-content/uploads/2013/09/bg-1-full.jpg');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
    {{> loginButtons}}
    {{> submission}}

</template>

<template name="submission">

    <br>
    {{#if currentUser}}
        <div id="signup-form">
            <div id="signup-inner">

                <div class="clearfix" id="header">
                    <h1>OpenStack User Preference Form</h1>
                </div>


                <form class="submit-form" id="send">
                    <label for="full_name">
                        Full Name (e.g. John Smith)
                        <!-- <label for="full_name">Current Full name: {{currentFullName}}</label> -->
                    </label>
                    {{#if required}}
                        <input type="text" id="full_name" required/>
                    {{else}}
                        <input placeholder="{{currentFullName}}" type="text" id="full_name"/>
                    {{/if}}





                    <label for="pref_repo">
                        Linux Login (e.g. johnsmith, *All Lower Case*)
                        <!-- <label for="pref_repo">Current Repo: {{currentLuxName}}</label> -->
                    </label>
                    <textarea placeholder="{{currentLuxName}}" id="pref_repo" rows="1" cols="100"></textarea>





                    <label for="pub_key">
                        Public SSH Key
                        <!-- <label for="pub_key">Current SSH key: {{currrentSSHkey}}</label> -->
                    </label>
                    {{#if required}}
                        <textarea id="pub_key" rows="5" cols="100" required></textarea>
                    {{else}}
                        <textarea placeholder="{{currrentSSHkey}}" id="pub_key" rows="5" cols="100"></textarea>
                    {{/if}}





                    <label for="pref_repo">
                        Git Repo (e.g. https://github.com/jsmith/dotfiles *url ONLY*)
                        <!-- <label for="pref_repo">Current Repo: {{currentRepo}}</label> -->
                    </label>
                    <textarea placeholder="{{currentRepo}}" id="pref_repo" rows="1" cols="100"></textarea>









                    <label for="pref_repo">
                        User Email
                    </label>
                    <textarea placeholder="{{currentEmail}}" id="pref_repo" rows="1" cols="100"></textarea>

                    <label for="pref_repo">
                        Please Enter it again
                    </label>
                    <textarea id="pref_repo" rows="1" cols="100"></textarea>


                    <label for="pref_repo">
                        Phone Number
                    </label>
                    <textarea placeholder="{{currentPhoneNum}}" id="pref_repo" rows="1" cols="100"></textarea>


                    <label for="pref_repo">
                        Group Name: {{currentGroupName}}
                    </label>
                    <textarea placeholder="{{currentGroupName}}" id="pref_repo" rows="1" cols="100" readonly></textarea>



                    <br><br>
                    <input id="submit" type="submit" name="form-submit"/>
                </form>
                <!--
                <button name="" id="showInfo">
                    Show Current Info.
                </button>-->
                <!--<a href="" target="_blank">View Current Information</a>-->
            </div>
        </div>
    {{else}}
        <div id="signup-form">
            <div id="signup-inner">
                <div class="clearfix" id="header">
                    <h2>Sign in to register VM info</h2>
                </div>
            </div>
        </div>
    {{/if}}

    {{#if databaseError}}
        <h1 style="color:red"><strong>Error registering info</strong></h1>
    {{/if}}
</template>